#description{
    color: chocolate;
    font-size: large;

}

#npc_name{
    color: cadetblue;
    font-size: x-large;

}

#motivation{
    color: chocolate;
    font-size: large;
}

#suspectedSecret{
    color: chocolate;
    font-size: large;
}

#disposition{
    color: chocolate;
    font-size: large;
}