<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>M-Logger Homepage</title>
</head>
<body>
<h1>M-Logger</h1>
<img th:src="@{/images/wizardduck.png}"/>
<a th:href="@{personlist}" id="personlist">People List</a>
<a th:href="@{questlist}" id="questlist">Quest Journal</a>
<a th:href="@{locationlist}" id="locationlist">Location List</a>
<a th:href="@{registration}" id="registration">Register</a>

</body>
</html>